<div class="auth-card">
    <a  class="nav-link"  [routerLink]="['/login']" >Zur&uuml;ck</a>
    <form>
        <div class="form-group">
          <label for="inputUsername">Benutzernamen</label>
          <input type="text" class="form-control" id="inputUsername"  placeholder="Benutzernamen eingeben">
        </div>
        <div class="form-group">
          <label for="inputPassword">Neues Passwort</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Neues Passwort eingeben">
        </div>
        <div class="form-group">
            <label for="inputPasswordRepeat">Neues Passwort wiederholen</label>
            <input type="password" class="form-control" id="inputPasswordRepeat" placeholder="Passwort wiederholen">
          </div>
         <br>
        <button type="submit" class="btn btn-primary submit">Passwort zur&uuml;cksetzen</button>
      </form>

</div>