
<div class="container">

    <h1> Willkommen im Drink Game</h1>

    <div class="container auth-option">
        <div class="row">
            <a  class="nav-link"
            [routerLink]="['login']" 
            routerLinkActive="router-link-active" >
            <button type="button" class="btn btn-primary btn-lg">Login</button>
            </a>
        </div>
        <div class="row">
            <a  class="nav-link"
            [routerLink]="['register']" 
            routerLinkActive="router-link-active" >
            <button type="button" class="btn btn-primary btn-lg">Registrieren</button>
            </a>
        </div>
        <div class="row">
            <a  class="nav-link"
            [routerLink]="['user-Liste']" 
            routerLinkActive="router-link-active" >
            <button type="button" class="btn btn-primary btn-lg">User-Liste</button>
            </a>
        </div>
    </div>







</div>
